@font-face {
  font-family: "iconfont"; /* Project id 4542225 */
  src: url('iconfont.woff2?t=1719369583369') format('woff2'),
       url('iconfont.woff?t=1719369583369') format('woff'),
       url('iconfont.ttf?t=1719369583369') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-netease_music:before {
  content: "\e76a";
}


.icon-coolapk:before {
  content: "\E760";
}

.icon-reddit:before {
  content: "\e76d";
}


.icon-arrow:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e602";
}

.icon-tag:before {
  content: "\e885";
}

.icon-bilibili:before {
  content: "\e75c";
}

.icon-github:before {
  content: "\e761";
}


.icon-weibo:before {
  content: "\e776";
}

.icon-continue:before {
  content: "\1112";
}

.icon-stop:before {
  content: "\1111";
}

.icon-downarrow:before {
  content: "\E802";
}

.icon-pinned:before {
  content: "\E777";
}

.icon-time:before {
  content: "\E778";
}

.icon-discord {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  background-image: url("../icon/discord-line.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: -0.129em;
  font-size: inherit; /* 继承父元素字体大小 */
}

.icon-x {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("../icon/x.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: -0.125em;
  font-size: inherit; /* 继承父元素字体大小 */
}

.icon-网易云音乐 {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  background-image: url("../icon/网易云音乐.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: -0.125em;
  font-size: inherit; /* 继承父元素字体大小 */
}